<div class="devices panel panel-default panel-collapsible">
    <div id="ascendon-devices-header" class="panel-heading">
        <h2 translate="account.device.header"></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="no-devices" class="no-devices-bg col-sm-12 text-center"
                 ng-if="$ctrl.loaded && !$ctrl.devices">
                <span translate="account.device.notFound"></span>
            </div>
            <div id="ascendon-devices-list" class="col-sm-12" ng-if="$ctrl.devices && $ctrl.devices.length > 0">
                <sf-device-list-item ng-repeat="device in $ctrl.devices" device="device" disabled="$ctrl.editingId !== device.Id && $ctrl.editingId !== null" on-remove="$ctrl.removeDevice(device)" on-save="$ctrl.saveDevice(device)" on-start-edit="$ctrl.startEdit(id)" on-cancel-edit="$ctrl.cancelEdit()"></sf-device-list-item>
            </div>
        </div>
    </div>
</div>
